[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fierce = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest -vvx -s"
